@use '../../styles/variables';
@use '../../styles/mixins';

.hero{
    background-color: variables.$secondary-bgcolor;
    height: 400px;

    .hero-content{
        @include mixins.flex(space-between,center);
    }

    .hero-left{
        line-height: 40px;
        h1{
            color: variables.$text-color;
            font-size: 40px;
            line-height: 50px;
        }

        .hero-header{
            color: variables.$primary-color;
        }

        p{
            color: variables.$description-color;
            font-size: 12px;
        }
    }

    .hero-right{

        img{
            padding: 50px 0px;
        }
    }
}