@use '../../styles/variables';
@use '../../styles/mixins';

.clients{
    background-color: variables.$primary-bgcolor;
    text-align:center ;
    padding: 30px 0px;
    line-height: 30px;

    .client-header{
        color: variables.$text-color;
    }

    .client-description{
        color: variables.$description-color;
        font-size: variables.$p-size;
    }

    .client-logos{
        @include mixins.flex(center,center);
        gap: 20px;

    }
}