.navbar {
    padding: 20px 0px;

    .navbar-content{
        display: flex;
        justify-content: space-between;
    }

    .menu-actions{
        display: flex;
        gap: 30px;
    }

    .nav-menus{
        display: flex;
        gap: 30px;
        list-style: none;

            a{
                text-decoration: none;
            }
        }
}