@use '../../styles/mixins';
@use '../../styles/variables';

.navbar {
    padding: 20px 0px;
    background-color: variables.$primary-bgcolor;

    .navbar-content{
        @include mixins.flex(space-between,center);
    }

    .menu-actions{
        display: flex;
        gap: 30px;
    }

    .nav-menus{
        display: flex;
        gap: 30px;
        list-style: none;
        align-items: center;

            a{
                text-decoration: none;
                color: black;
                font-size: 15px;
                font-weight: 500;
            }
        }
}